<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    <div class="container"
      {% if include.limit and page.announcements.scrollable and news_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
    
      {% assign news = site.news | reverse %}
      {% if include.limit and page.announcements.limit %}
        {% assign news_limit = page.announcements.limit %}
      {% else %}
        {% assign news_limit = news_size %}
      {% endif %}
      
      {% for item in news limit: news_limit %}
        <div class="row align-items-top py-3">

          <div class="col-auto">
            <b> {{ item.date | date: '%b %d, %Y' }} </b>
          </div>
          <div class="col-10">
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {{ item.content }}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
